* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-sec {
  width: 100%;
  height: 28vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}
.header-sec img {
  width: 100%;
  object-fit: cover;
}
/*  */

.text-area {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
  color: #292f36;
  margin-top: 3rem;
}
.text-area h2 {
  font-weight: 400;
  font-size: 30px;
}
