body {
  width: 100%;
  height: 100%;
}
.hero-sec {
  width: 100%;
  display: flex;
  gap: 6rem;
  margin: auto;
  justify-content: center;
  padding-top: 5rem;
}
.main-body {
  display: flex;
  justify-content: center;
}

.Text h1 {
  font-weight: 400;
}
.forms2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.side {
  margin-top: 3rem;
}
.right-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
